body {
	margin: 0px auto;
	font-weight: normal;
	font-family: Verdana, arial;
	font-size: x-small;
	color: #000000;
	background-color: #ffffff;
	padding: 2px;
}
div.header {
	font-weight: none;
	text-align: center;
	color : #FFFFFF;
	padding: 6px 6px 6px 6px;
	background-color: #3B5998;
	border-bottom: 3px solid #6d84b4;
}
div.content {
	margin-top: 2px;
	margin-bottom: 2px;
	border:1px solid #FFFFFF;
	text-align: left;
	padding: 4px 4px 4px 4px;
}
ul.category {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
ul.sms {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
ul.sms li {
	padding-bottom: 3px;
	padding-top: 3px;
}
ul.sms li div.sms_body {
}
ul.sms li div.sms_share {
	border-bottom: aqua 1px solid;
	padding-bottom: 3px;
}
div.menu {
	font-weight: ;
	font-family: Verdana;
	font-size: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	border:1px solid #FFFFFF;
	text-align: left;
	padding: 4px 4px 4px 4px;
}
div.footer {
	font-weight: none;
	text-align: center;
	font-size: 10px;
	color : #d2e0ff;
	padding: 6px 6px 6px 6px;
	background-color: #3B5998;
	border-top: 3px solid #6d84b4;
}
div.ads {
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	border: 1px solid #b1cade;
	padding: 3px;
}
hr {
	margin: 3px 0px 3px 0px;
	background-color: #b1cade;
	color: #b1cade;
	border: none;
	height: 1px;
}
a:link {
	text-decoration: none;
	color : #2C75B1;
}
a:active {
	text-decoration: none;
	color : #2C75B1;
}
a:visited {
	text-decoration: none;
	color : #2C75B1;
}
a:hover {
	text-decoration: none;
	background-color: #2C75B1;
	color:#ffffff;
}